@{
    ViewBag.Title = "Home Page";  
}

@section scripts
{
    <script src="~/ViewModels/MainViewModel.js"></script>

    <script type="text/javascript">
        var viewModel = new TypeDefinitions.MainViewModel();

        $('#demo-button').click(viewModel.handleClick);

    </script>    

}

<div class="hero-unit">
    <h1>Learning Typescript</h1>
</div>
<div class="row">
    <div id="demo-documentBody" class="span12">
        <input type="button" id="demo-button" value="Run Demo" />
    </div>
</div>